/* CSS declarations go here */




/*html {*/
    /*background-color: #eee;*/
/*}*/

/*body {*/
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*color: #444;*/
    /*background-color: #fff;*/
    /*font-size: 13px;*/
    /*font-family: Freesans, sans-serif;*/
    /*padding: 2em 4em;*/
    /*width: 860px;*/
    /*margin: 15px auto;*/
    /*box-shadow:				1px 1px 8px #444;*/
    /*-mox-box-shadow:		1px 1px 8px #444;*/
    /*-webkit-box-shadow:		1px -1px 8px #444;*/
/*}*/

body {
    margin-top:40px;
}



.notice {
    color: #c33;
}

.red-background {
    background-color: #f00;
}

.grey-background {
    background-color: #ccc;
}

.black-background {
    background-color: #000;
}



.navbar.pop-navbar {
    min-height: 40px;
}

.font-red {
    color: #f00;
}

.font-green {
    color: #46e656;
}

.font-strike {
    text-decoration:line-through;
}


/*http://stackoverflow.com/questions/7676356/can-twitter-bootstrap-alerts-fade-in-as-well-as-out*/
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.fadein {
    opacity: 1;
}

.floatingAlert{
    position:absolute;
    top: 20px;
    left: 70px;
    z-index: 10;
}


.map-popup-wrapper{
    margin: 0px;
    padding: 10px;
}

.map-popup-color {
    width: 15px;
    height: 15px;
    display: block;
}

#map {
    margin-top: 1px;
}

#mapBootstrapContainer {
    padding: 1px;
}

.leftPanelHeading {
    padding: 10px;
}

#leftMapPanel {
    padding-right: 0px;
}

.leftPanelGroup {
    max-width: 200px;
    margin-bottom: 2px;
}