lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# Don't save whole app credentials
settings.json

# Don't save email credentials
server/email.js

# Go home Webstorm!
.idea/

# Stevie Jobs!!!
.DS_Store
