<template name="alerts">
    <div class="row">
        <div class="col-lg-1"><h2>Alerts</h2></div>
        <div class="col-lg-1">
            {{>flashAlert}}
        </div>
    </div>

    {{#each alerts}}
        {{>alert}}
    {{/each}}
    <div class="row spacer-bottom">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-1">
            <i class="fa fa-plus-circle plus-button-green"></i>
        </div>
    </div>
</template>

<template name="alert">
    <div class="row">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-4">
            <div class="panel panel-danger">
                {{#if viewEditing}}
                <div class="panel-heading">
                    <h1 class="panel-title">Editing <span class="pull-right"><i class="fa fa-trash-o edit-trash-button delete-alert-form-data"></i></span></h1>
                </div>
                {{else}}
                <div class="panel-heading">
                    <h1 class="panel-title">&nbsp</h1>
                </div>
                {{/if}}
                <div class="panel-body">
                    <h2><span id="alertName_{{_id}}" data-has-class="large-edit-in-place" data-placeholder-text="Name.">{{name}}</span>
                        {{#unless viewEditing}}
                        <span class="pull-right"><i class="fa fa-pencil edit-pencil-button edit-alert-form-data"></i></span>
                        {{/unless}}
                    </h2>
                    <div class="row">
                        <div class="col-sm-2 alert-form-label">Notify: </div>
                        <div class="col-sm-10 alert-form-label"><span class="alertFormSelect2Wrapper"><span id="alertFormContactInput_{{_id}}" data-is-multiple="true" data-placeholder-text="Select contacts to notify.">{{contactsPlainText}}</span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 alert-form-label">Groups: </div>
                        <div class="col-md-10 alert-form-label"><span class="alertFormSelect2Wrapper"><span id="alertFormGroupInput_{{_id}}" data-is-multiple="true" data-placeholder-text="Notify about groups.">{{groupsPlainText}}</span></span></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 alert-form-label">Rule: </div>
                        <div class="col-md-10 alert-form-label"><span class="alertFormSelect2Wrapper"><span id="alertFormRuleInput_{{_id}}" data-is-multiple="false" data-placeholder-text="Select a rule">{{getTypeNiceName}}</span></span></div>
                    </div>


                    {{#if viewEditing}}
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary cancel-alert-form-data"><i class="fa fa-ban"> &nbsp;Cancel</i></button>
                        <button type="button" class="btn btn-success save-alert-form-data" data-id={{_id}}><i class="fa fa-check"> &nbsp;Save</i></button>
                    </div>
                    {{/if}}

                    {{_id}}
                </div>
            </div>
        </div>
    </div>
</div>

</template>