<template name="contacts">
    <div class="row">
        <div class="col-lg-1"><h2>Contacts</h2></div>
        <div class="col-lg-1">
            {{>flashAlert}}
        </div>
    </div>
    {{#each contacts}}
    {{>contact}}
    {{/each}}
    <div class="row spacer-bottom">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-1">
            <i class="fa fa-plus-circle plus-button-green"></i>
        </div>
    </div>
</template>

<template name="contact">
    <div class="row">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-4">
            <div class="panel panel-success">
                {{#if viewEditing}}
                <div class="panel-heading">
                    <h1 class="panel-title">Editing <span class="pull-right"><i class="fa fa-trash-o edit-trash-button delete-contact-form-data"></i></span></h1>
                </div>
                {{/if}}
                <div class="panel-body">
                    <h2><span id="contactName_{{_id}}" data-has-class="large-edit-in-place" data-name="name">{{name}}</span>
                        {{#unless viewEditing}}
                        <span class="pull-right"><i class="fa fa-pencil edit-pencil-button edit-contact-form-data"></i></span>
                        {{/unless}}
                    </h2>

                    <div class="list-group">
                        <a href="#" class="list-group-item">Emails: <span id="contactEmailList_{{_id}}" data-name="emails">{{emails}}</span></a>
                        <a href="#" class="list-group-item">SMS: <span id="contactSmsList_{{_id}}" data-name="sms">{{sms}}</span></a>
                    </div>


                    {{#if viewEditing}}
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary cancel-contact-form-data"><i class="fa fa-ban"> &nbsp;Cancel</i></button>
                        <button type="button" class="btn btn-success save-contact-form-data" data-id={{_id}}><i class="fa fa-check"> &nbsp;Save</i></button>
                    </div>
                    {{/if}}

                    {{_id}}
                </div>
            </div>
        </div>
    </div>
</template>