<template name="contacts">
    contacts..
    {{#each contacts}}
    {{>contact}}
    {{/each}}
    <div class="row">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-1">
            <i class="fa fa-plus-circle plus-button-green"></i>
        </div>
    </div>
</template>

<template name="contact">
    <div class="row">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-4">
            <div class="panel panel-success">
                {{#if viewEditing}}
                <div class="panel-heading">
                    <h1 class="panel-title">Editing<!--<span class="pull-right"><i class="fa fa-trash-o"></i></span>--></h3>
                </div>
                {{/if}}
                <div class="panel-body">
                    <h2>{{name}}
                        {{#unless viewEditing}}
                        <span class="pull-right"><i class="fa fa-pencil edit-pencil-button edit-contact-form-data" data-id="{{_id}}"></i></span>
                        {{/unless}}
                    </h2>
                    <form>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Email: <span id="emailOne" data-name="name" data-pk="1">bjmorse@gmail.com</span>
                        </a>
                        <a href="#" class="list-group-item iron-ignore">Email: ben@popwi.com
                        </a>
                    </div>
                        </form>

                    {{#if viewEditing}}
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary cancel-contact-form-data"><i class="fa fa-ban"> &nbsp;Cancel</i></button>
                        <button type="button" class="btn btn-success save-contact-form-data" data-id={{_id}}><i class="fa fa-check"> &nbsp;Save</i></button>
                    </div>
                    {{/if}}

                    {{_id}}
                </div>
            </div>
        </div>
    </div>
</template>