<template name="dashboard">







    <div class="navbar pop-navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="">Map</a>
                    </li>
                    <li>
                        <a href="">Settings</a>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>-->
                    <!--<li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>-->
                </ul>

            </div>
        </div>
    </div>





<div class="row">
    <div class="col-md-3 red-background text-left">
        left
    </div>
    <div class="col-md-9 grey-background">
        {{>mainMap}}
    </div>
</div>



    <!--&lt;!&ndash; Main jumbotron for a primary marketing message or call to action &ndash;&gt;-->
    <!--<div class="jumbotron">-->
        <!--<div class="container">-->
            <!--<h1>Hello, world!</h1>-->
            <!--<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>-->
            <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="container">-->
        <!--&lt;!&ndash; Example row of columns &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            <!--</div>-->
        <!--</div>-->

        <!--<hr>-->

        <!--<footer>-->
            <!--<p>&copy; Company 2013</p>-->
        <!--</footer>-->
    <!--</div> &lt;!&ndash; /container &ndash;&gt;-->
</template>


<template name="mainMap">
    {{#constant}}
    <div id="main_map_container" class="map_container">
        <div id="map" class="map"></div>
    </div>
    {{/constant}}
</template>

<template name="layout">
    what goes in layout?
</template>

<template name="notFound">
    <h1>404 Not Found</h1>
</template>

<template name="loading">
    <h1>Loading!</h1>
</template>



