<template name="dashboard">





    <div class="navbar pop-navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="">Map</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="showFenceDrop">
                                {{#if showFenceSetting}}
                                    <a href="#"><span class="glyphicon glyphicon-check font-green"></span> Show Fences</a>
                                {{else}}
                                    <a href="#" class="font-strike"><span class="glyphicon glyphicon-remove font-red"></span> Show Fences</a>
                                {{/if}}
                            </li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>-->
                    <!--<li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>-->
                </ul>

            </div>
        </div>
    </div>





<div class="row">
    <div class="col-md-3 red-background text-left">
        left
    </div>
    <div class="col-md-9 grey-background">
        {{>flashAlert}}
        {{>mainMap}}
    </div>
</div>



    <!--&lt;!&ndash; Main jumbotron for a primary marketing message or call to action &ndash;&gt;-->
    <!--<div class="jumbotron">-->
        <!--<div class="container">-->
            <!--<h1>Hello, world!</h1>-->
            <!--<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>-->
            <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="container">-->
        <!--&lt;!&ndash; Example row of columns &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>Heading</h2>-->
                <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            <!--</div>-->
        <!--</div>-->

        <!--<hr>-->

        <!--<footer>-->
            <!--<p>&copy; Company 2013</p>-->
        <!--</footer>-->
    <!--</div> &lt;!&ndash; /container &ndash;&gt;-->
</template>


<template name="mainMap">
    {{#constant}}
    <div id="main_map_container" class="map_container">
        <div id="map" class="map"></div>
    </div>
    {{/constant}}
</template>

<template name="geoFencePopupDevices">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        {{#each deviceListTruncated}}
            {{>geoFencePopupDeviceRow}}
        {{/each}}
        </tbody>
    </table>
</template>

<template name="geoFencePopupDeviceRow">
    <tr>
        <td>{{serial}}</td>
        <td>{{_id}}</td>
    </tr>
</template>

<template name="geoFencePopup">
    <div class="map-popup-wrapper">
        <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px;">
            <li class="active"><a href="#home" data-toggle="tab">Fence</a></li>
            <li><a href="#profile" data-toggle="tab">Devices</a></li>
            <li class="disabled"><a>Settings</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <p>Fence Id: {{_id}}</p>
                <p>Color: <span class="map-popup-color" style="background-color: {{layer.options.color}}"></span></p>
            </div>
            <div class="tab-pane fade" id="profile">
                {{>geoFencePopupDevices}}
            </div>
            <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
            </div>
        </div>
    </div>
</template>

<template name="layout">
    what goes in layout?
</template>

<template name="notFound">
    <h1>404 Not Found</h1>
</template>

<template name="loading">
    <h1>Loading!</h1>
</template>


<template name="flashAlert">
    {{{rawHtml}}}
</template>
