<template name="fenceList">

    <div class="container">
    <ol>
        {{#each fenceList}}

        {{>fence}}

        {{/each}}
    </ol>
    </div>

</template>


<template name="fence">
    <li>
        <div class="row">
            <div class="col-md-2">
                {{layerType}}
            </div>
            <div class="col-md-4">
                First Point: {{onePoint}}
            </div>
            <div class="col-md-2">
                # Devices : {{deviceCount}}
            </div>
            <div class="col-md-1">
                {{_id}}
            </div>

        </div>
    </li>


</template>



<template name="debugLog">
    <ul>
        {{#each logs}}
        <li>{{>debugLogItem}}</li>
        {{/each}}
    </ul>
</template>


<template name="debugLogItem">
    <!-- The member variable of the log entry is called 'l' -->
    {{l}}
</template>


<!--See http://mjsarfatti.com/sandbox/nestedSortable/ for working html example-->
<template name="groups">

    {{#constant}}
    <ol class="sortable">
        {{#each groups}}

        {{#if rowTypeIsGroup}}
        {{>group}}
        {{else}}
        {{>device}}
        {{/if}}

        {{/each}}
    </ol>
    {{/constant}}
    {{groupsDebug}}
</template>

<template name="groupsReactive">

    <ol class="sortable">
        {{#each groups}}

        {{#if rowTypeIsGroup}}
        {{>group}}
        {{else}}
        {{>device}}
        {{/if}}

        {{/each}}
    </ol>

    {{groupsDebug}}
</template>

<template name="group">
    <li id="grouplist_{{_id}}"><div><span class="disclose"><span></span></span>{{name}}</div>
        {{#if children}}
        <ol>
            {{#each children}}
            {{#if rowTypeIsGroup}}
            {{>group}}
            {{else}}
            {{>device}}
            {{/if}}
            {{/each}}
        </ol>
        {{/if}}
</template>

<template name="device">
    <li id="devicelist_{{_id}}" class="list-device"><div class="">Device {{serial}} ({{_id}})</div>
</template>

<template name="webHookOk">
    ok
</template>


<template name="groupsSimple">
    <ul>
        {{#each groups}}

        {{#if rowTypeIsGroup}}
        {{>group}}
        {{else}}
        {{>device}}
        {{/if}}

        {{/each}}
    </ul>
</template>