<template name="mainMapAndLeft">
    <div class="row shownOnlyWithMap hidden">
        <div class="col-md-3 text-left shownOnlyWithMap hidden" id="leftMapPanel">

                <div class="leftPanelHeading">
                    <h2>Groups</h2>
                </div>
                {{>leftPanelGroups}}

        </div>
        <div class="col-md-9 black-background shownOnlyWithMap hidden" id="mapBootstrapContainer">
            {{>flashAlert}}
            {{#constant}}
            <div id="main_map_container" class="map_container shownOnlyWithMap hidden">
                <div id="map" class="map"></div>
            </div>
            {{/constant}}
        </div>
    </div>

</template>



<template name="geoFencePopupDevices">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        {{#each deviceListTruncated}}
        {{>geoFencePopupDeviceRow}}
        {{/each}}
        </tbody>
    </table>
</template>

<template name="geoFencePopupDeviceRow">
    <tr>
        <td>{{serial}}</td>
        <td>{{_id}}</td>
    </tr>
</template>

        <!-- Popup width is controlled in mapView.js, grep for popup_width -->
<template name="geoFencePopup">
    <div class="map-popup-wrapper">
        <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px">
            <li class="active"><a href="#home" class="iron-ignore" data-toggle="tab">Fence</a></li>
            <li><a href="#profile" class="iron-ignore" data-toggle="tab">Devices</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" class="iron-ignore" data-toggle="dropdown" href="#">
                    Options <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="iron-ignore">Edit Fence</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="deleteFenceLink iron-ignore" data-id="{{_id}}">Delete Fence&nbsp;&nbsp;<i class="fa fa-trash-o"></i></a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <p>Fence Id: {{_id}}</p>
                <p>Color: <span class="map-popup-color" style="background-color: {{layer.options.color}}"></span></p>
            </div>
            <div class="tab-pane fade" id="profile">
                {{>geoFencePopupDevices}}
            </div>
            <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
            </div>
        </div>
    </div>
</template>


<template name="devicePopup">
    <div class="map-popup-wrapper">
        <ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px">
            <li class="active"><a href="#home" class="iron-ignore" data-toggle="tab">Device</a></li>
            <li><a href="#profile" class="iron-ignore" data-toggle="tab">Groups</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle iron-ignore" data-toggle="dropdown" href="#">
                    Options <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="iron-ignore">Edit Fence</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="deleteFenceLink iron-ignore" data-id="{{_id}}">Delete Fence</a></li>
                </ul>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <p>Device Id: {{_id}}</p>
                <p>Device Events: {{deviceFenceEvents}}</p>
            </div>
            <div class="tab-pane fade" id="profile">
                Groups which this device belong to:
                <div>
                    <input type="text" id="device-popup-group-input-{{_id}}" name="groups" />
                </div>
            </div>
            <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
            </div>
        </div>
    </div>
</template>









<template name="leftPanelGroup">
    <span style="position: relative"><span id="groupListEyeball_{{_id}}" class="groupListEyeball" data-id="{{_id}}">
        <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x grey-text"></i>
            <i class="fa {{eyeIconClass}} fa-stack-1x actual-eyeball-class"></i>
        </span>
    </span></span>
    <li id="groupList_{{_id}}" class="mjs-nestedSortable-branch mjs-nestedSortable-expanded">

        <div class="list-group-item leftPanelGroup">
            <span class="left-disclose"><span></span></span>
            {{name}}
            <span class="badge">{{deviceCount}}</span>
        </div>
        {{#if children}}
        <ol>
            {{#each children}}
                {{>leftPanelGroup}}
            {{/each}}
        </ol>
        {{/if}}
    </li>

</template>


<template name="leftPanelGroups">
    <div class="well">
        <ol class="sortable list-group leftPanelGroupList">
            {{#each groups}}
                {{>leftPanelGroup}}
            {{/each}}
        </ol>
    </div>
    {{dependenciesString}}
</template>